@using proyecto_core.Models.ContentViewModels
@using Microsoft.AspNetCore.Identity
@model CreateViewModel
@{
    ViewData["Title"] = "Create";
}

<form asp-controller="Content" asp-action="Create" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal"  enctype="multipart/form-data">
    <h4>Crear nueva audio descripción</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="col-md-4 control-label"></label>
        <div class="col-md-6">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-4 control-label"></label>
        <div class="col-md-6">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="File" class="col-md-4 control-label"></label>
        <div class="col-md-6">
            <input asp-for="File" type="file" class="file-select"/>
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-6">
            <button type="submit" class="btn btn-default">Crear</button>
        </div>
    </div>
</form>
