@using proyecto_core.Models.ContentViewModels
@model proyecto_core.Models.ContentViewModels.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <caption>Optional table caption.</caption>
    <thead> 
        <tr> 
            <th>Titulo</th> 
            <th>Descripción</th> 
            <th></th>
            <th></th>
        </tr>
    </thead> 
    <tbody>
        @foreach (ApplicationContent ac in @Model.ApplicationContentList)
        {
            <tr>
                <td>@ac.Title</td>
                <td>@ac.Description</td>
                <td>
                    <a asp-controller="Content" asp-action="Download/@ac.Guid.ToString()" class="btn btn-success">download</a>
                </td>
                <td>
                    <a asp-controller="Content" asp-action="DownloadDemo/@ac.Guid.ToString()" class="btn btn-warning">free demo</a>
                </td>
            </tr>
        }
    </tbody>
</table>